{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Artigo do Município de {{ municipio.nm_ue.title() }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Eleições Municipais em {{ municipio.nm_ue.title() }} ({{ municipio.sg_uf }}): Resultado do 1º turno para Prefeito</h3>
            <p>Saiba como os eleitores do município de {{ municipio.nm_ue.title() }} votaram para a prefeitura nas Eleições Municipais de 2024, realizadas no domingo, 6 de outubro de 2024.</p>

            <p>No município de {{ municipio.nm_ue.title() }} ({{ municipio.sg_uf }}), não haverá segundo turno, já que o candidato [Nome do Candidato] ([Sigla do Partido]) obteve [XX%] dos votos, alcançando mais de 50% + 1 voto do total de eleitores que participaram do pleito municipal de 2024.</p>

            <p>Até o momento, [XX%] das urnas foram apuradas, com este percentual o candidado [Nome do Candidato] do partido [Nome do Partido], está matemáticamente eleito como prefeito do munícipio de <span class="fw-bold">{{ municipio.nm_ue.title() }} ({{ municipio.sg_uf }})</span>.</p>

            <p>Confira abaixo como cada candidato à prefeitura de {{ municipio.nm_ue.title() }} ({{ municipio.sg_uf }}) se saiu:</p>

            <ul>
                {% for candidato in municipio.candidatos %}
                <li>{{ candidato.nm_urna_candidato.title() }} ({{ candidato.sg_partido}}): {{ candidato.nr_votos}} dos votos</li>
                {% endfor %}
            </ul>

            <p>Acompanhe o resultado das Eleições Municipais 2024 no Terra, acessando <a href="http://terra.com.br/eleicoes" target="_blank">terra.com.br/eleicoes</a></p>

            <p><i>Disclaimer: Este texto foi gerado automaticamente com base nos resultados oficiais do <a href="https://www.tse.jus.br/#/" target="_blank" rel="noopener noreferrer"> Tribunal Superior Elitoral (TSE)</a>. As informações dinâmicas como nomes, siglas, porcentagens de votos e data do pleito são atualizadas automaticamente para refletir com precisão os resultados de diferentes municípios. Por favor, verifique as informações com fontes oficiais antes de qualquer divulgação.</i></p>
        </div>
    </div>
</div>
{% endblock %}