{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Candidatos do Município de {{ municipio.nome }}</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Candidatos do Municipio de {{ municipio.nome }} - {{ municipio.UF }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>Foto</th>
                    <th>Nome na Urna</th>
                    <th>Número Urna</th>
                    <th>Sigla do Partido</th>
                    <th>Votos</th>
                </thead>
                <tbody>
                    {% for candidato in candidatos %}
                    <tr>
                        <td><img src="{{url_for('static', filename='fotos')}}/{{candidato.foto}}" alt="" srcset=""></td>
                        <td>{{ candidato.nome_urna.title() }}</td>
                        <td>{{ candidato.nro }}</td>
                        <td>{{ candidato.partido }}</td>
                        <td>{{ candidato.votos_apurados }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}