{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Municipíos com mais de 200 mil eleitores</h1>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Município</th>
                    <th>Matemáticamente Definido</th>
                    <th>Apuração</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for municipio in municipios %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ municipio.UF }}</td>
                        <td>{{ municipio.nome }}</td>
                        <td>
                            {% if municipio.matematicamente_definido == "s" %}
                            <span class="badge text-bg-success">Sim</span>
                            {% elif municipio.matematicamente_definido == "n" %}
                            <span class="badge text-bg-warning">Não</span>
                            {% else %}
                            <span class="badge text-bg-danger">N/A</span>
                            {% endif %}
                        <td>{{ municipio.totalizacao_final}} </td>
                        <td>
                            <a href="{{ url_for('webui.terra_json', nome_normalizado=municipio.nome_normalizado)}}" class="btn btn-dark" target="_blank"><i class="bi bi-braces" aria-label="JSON"></i></a>
                            <a href="{{ url_for('webui.candidatos', codigo_municipio = municipio.codigo_municipio)}}" class="btn btn-primary">Candidatos</a>
                            <a href="{{ url_for('webui.criar_video', municipio_id = municipio.id)}}" class="btn btn-dark"><i class="bi bi-film"></i> Gerar Vídeo</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
