{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Municipios com mais de 200 mil eleitores</h1>
        </div> 
    </div>
    <div class="row">
        <div class="row align-items-center py-1">
            <div class="col-sm-6">
                <a href="{{ url_for('webui.export_to_csv')}}" class="btn btn-primary"><i class="bi bi-box-arrow-down"></i> Exportar CSV</a>
                <a href="{{ url_for('webui.videos')}}" class="btn btn-dark"><i class="bi bi-film"></i> Vídeos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>Estado</th>
                    <th>Município</th>
                    <th>Candidatos</th>
                    <th>Eleitores</th>
                    <th>Apuração</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for municipio in municipios %}
                    <tr>
                        <td>{{ municipio.sg_uf }}</td>
                        <td>{{ municipio.nm_ue.title() }}</td>
                        <td>{{ municipio.nm_candidatos }}</td>
                        <td>{{ municipio.nm_eleitores }}</td>
                        <td>
                            {% if municipio.status_apuracao == True %}
                            <span class="badge text-bg-success">Finalizada</span>
                            {% else %}
                            <span class="badge text-bg-danger">Em Andamento</span>
                            {% endif %}
                        
                        </td>
                        <td>
                            <a href="{{ url_for('webui.candidatos', municipio_id = municipio.id)}}" class="btn btn-primary">Candidatos</a>
                            <a href="{{ url_for('webui.criar_artigo', municipio_id = municipio.id)}}" class="btn btn-primary"><i class="bi bi-card-text"></i> Artigo</a>
                            <a href="{{ url_for('webui.criar_video', municipio_id = municipio.id)}}" class="btn btn-dark"><i class="bi bi-film"></i> Gerar Vídeo</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
