{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Municipíos com mais de 200 mil eleitores</h1>
            <a class="btn btn-primary" href="{{ url_for('webui.videos')}}"><i class="bi bi-play-btn-fill"></i> Lista de Vídeos</a>
        </div> 
    </div>
    <div class="row" hx-get="{{ url_for('webui.update_apuracao_lista')}}" hx-swap="outerHTML" hx-trigger="every 5s">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Município</th>
                    <th>Candidatos</th>
                    <th>Última Atualização</th>
                    <th>Seções</th>
                    <th>Votos Válidos</th>
                    <th>Mat. Definido</th>
                    <th>Apuração</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for municipio in municipios %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ municipio.UF }}</td>
                    <td class="col-sm-3">{{ municipio.nome }}</td>
                    <td class="col-sm-1">{{ municipio.candidatos|length }}</td>
                    <td class="col-sm-2">{{ municipio.dt.strftime('%d/%m/%Y')}} {{ municipio.ht.strftime('%H:%M') }}</td>
                    <td>{{ municipio.percentual_secoes_totalizadas}}%</td>
                    <td>{{ municipio.percentual_votos_validos}}%</td>
                    <td class="col-sm-1">
                        {% if municipio.matematicamente_definido == "s" %}
                        <span class="badge text-bg-success">Sim</span>
                        {% elif municipio.matematicamente_definido == "n" %}
                        <span class="badge text-bg-warning">Não</span>
                        {% else %}
                        <span class="badge text-bg-danger">N/A</span>
                        {% endif %}
                    <td class="col-sm-1">
                        {% if municipio.totalizacao_final == "n" %}
                            <span class="badge text-bg-primary">Em Andamento</span> 
                        {% elif municipio.totalizacao_final == "s" %}
                            <span class="badge text-bg-success">Finalizada</span> 
                        {% else %}
                            <span class="badge text-bg-error">N/D</span> 
                        {% endif %}
                    </td>
                    <td class="col-sm-3">
                        <a href="{{ url_for('webui.terra_json', nome_normalizado=municipio.nome_normalizado)}}" class="btn btn-dark" target="_blank"><i class="bi bi-braces" aria-label="JSON"></i></a>
                        <a href="{{ url_for('webui.candidatos', codigo_municipio = municipio.codigo_municipio)}}" class="btn btn-primary"><i class="bi bi-person-bounding-box"></i></a>
                        <a href="{{ url_for('webui.criar_video', codigo_municipio = municipio.codigo_municipio)}}" class="btn btn-dark"><i class="bi bi-film"></i></a>
                        <a href="{{ url_for('webui.yt_copy', codigo_municipio = municipio.codigo_municipio)}}" class="btn btn-info"><i class="bi bi-journal-text"></i></a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
