{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Prefeitos</h1>
    <form hx-post="{{ url_for('webui.filtro_prefeitos_por_estado_municipio')}}" hx-target="#filtro-prefeitos" hx-swap="innerHTML">
        <div class="row">
            <div class="col">
                <select class="form-select" name="sg_uf" id="sg_uf" hx-get="{{ url_for('webui.filtro_municipios_por_estado')}}" hx-target="#nm_ue" hx-swap="innerHTML" htx>
                    {% for estado in estados %}
                        <option value="{{ estado }}">{{ estado }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col" id="nm_ue">
                
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" >Filtrar</button>
            </div>
        </div>
    </form>
    <div class="row" id="filtro-prefeitos">

    </div>
</div>
{% endblock %}