{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Municipíos com mais de 200 mil eleitores</h1>
        </div> 
    </div>
    <div class="row">
        <div class="row align-items-center py-1">
            <div class="col-sm-6">
                <a href="" class="btn btn-primary"><i class="bi bi-box-arrow-down"></i> Gerar Thumbs</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>Estado</th>
                    <th>Município</th>
                    <th>Thumb</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for thumb in thumbs %}
                    {% if thumb.plainly_thumbnail_uri %}
                    <tr>
                        <td>{{ thumb.municipio_id }}</td>
                        <td></td>
                        <td><img class="img-thumbnail" src="{{ thumb.plainly_thumbnail_uri }}" alt="" srcset=""></td>
                        <td>
                            <a href="" class="btn btn-primary">Ver Thumb</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
