{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-4">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Artigo do Município de {{ municipio.nm_ue.title() }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img src="{{ image_url }}" alt="" srcset="">
        </div>
    </div>
</div>
{% endblock %}