{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row py-2">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('webui.index')}}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Vídeos com os Resultados</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-12">
            <h1>Vídeos com os Resultados</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12" hx-get="{{ url_for('webui.video_lista')}}" hx-swap="innerHTML" hx-trigger="load, every 10s">
            
        </div>
    </div>
</div>
{% endblock %}